@model System.Collections.Generic.List<TodoMVCApp.Models.ToDo>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Todo Application</h3>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create ToDo</a>
</p>
<div class="row col-12 ">
    <div class="row">
    <div class="col-1">
        <b>Serial No</b>
    </div>
    <div class="col-1">
       <b>Title</b>
    </div>
    <div class="col-2">
        <b>Description</b>
    </div>
    <div class="col-2">
        <b>Is Completed</b>
    </div>
    <div class="col-2">
        <b>Date</b>
    </div>
     <div class="col-3"> </div>
    </div>
    @foreach(var item in Model)
    {
    <div class="row" style="margin-top:10px;">
        <div class="col-1">
            @item.SerialNo
        </div>
        <div class="col-1">
           @item.Title
        </div>
        <div class="col-2">
            @item.Description
        </div>
        <div class="col-2">
            @item.IsCompleted
        </div>
        <div class="col-2">
           @item.CreatedDate
        </div>
        <div class="col-3"> 
            @Html.ActionLink("Update","Update","Home",new {serialNo = @item.SerialNo},new { @class = "btn btn-sm btn-primary"})
            @Html.ActionLink("Delete","Delete","Home",new {serialNo = @item.SerialNo},new { @class = "btn btn-sm btn-danger"})
        </div>
    </div>
    }
    

</div>